@charset "utf-8";

#wrap{
    width: 80%;
    margin: 30px auto;
    font-size: 2em;
    font-weight: 600;
    line-height: 50px;
    text-align: center;
}
header, .lnb, .ad, .cont ,footer{
    border-radius: 10px;
}
header{
    height: 100px;
    background-color: gray;
}
section{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
}
section>.left{
    width: 25%;
    height: 400px;
}
section>.left>.lnb{
    height: 250px;
    background-color: blue;
    margin-bottom: 10px;
}
section>.left>.ad{
    height: 140px;
    background-color: pink;
}
section>.cont{
    width: 74%;
    background-color: yellow;
}

footer{
    height: 100px;
    background-color: brown;
}

@media screen and (max-width: 640px){
    #wrap{
        width: 100%;
        margin: 0;
    }

    section{
        display: block;
    }

    section>.left{
        width: 100%;
    }
    section>.cont{
        width: 100%;
        margin-top: 10px;
    }

}